/* ОБЩЕЕ */
.wrapper {
    margin: 1em 0;
}
.bg-gray {
    background-color: #67686A;
}
.wopad {
    padding: 0;
}
.webpad {
    padding-inline-start: 0px;
}
.nav-link {
    padding: 1em;
}
.nav a:hover {
    background-color: #565656;
}
/* НАВИГАЦИЯ */
li {
    display: block;
}
.cart_link::before {
    content: "\f07a";
    font-family: "FontAwesome";
}
/* НАВИГАЦИЯ В ТЕЛЕФОНАХ */
.sm-menu {
    position: relative;
}
.collapsed_menu {
    display: none;
    background-color: #67686A;
    position: absolute;
    top: 44px;
    left: 15px;
    z-index: 100;
    width: 100%;
    text-align: center;
}
.sm_menu_btn {
    cursor: pointer;
    text-align: center;
}
/* ПОИСК */
.search {
    width: 640px;
    display: flex;
    align-items: center;
    position: relative;
}
.who {
    width: 100%;
    padding: 6px 10px;
}
.search_result {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    -webkit-padding-start: 0px;
    border: 1px solid #67686A;
    width: 571px;
    background: #FFF;
    z-index: 50;
}
.search_result > li > a {
    display: block;
    padding: 1em 20px;
}
.search_result > li:hover {
    background: #67686A;
}
#search_button {
    padding: 6px 10px;
}
/* КАТАЛОГ */
ul.menu {
    background-color: #FFF;
    -webkit-padding-start: 0px;
    box-shadow: 0px 1px 5px 0px #252525;
    position: relative;
}
ul.menu > li {
    text-align: left;
}
ul.menu > li > a {
    padding: 1em 20px;
    color: #565656;
}
ul.menu > li:hover {
    background-color: #67686A;
}
ul.menu > li:hover:last-child {
    background-color: greenyellow;
}
ul.menu > li:hover > a {
    color: #fff;
}
ul.menu > li:last-child > a {
    font-weight: bold;
}
ul.submenu {
    display: none;
    -webkit-padding-start: 0px;
    background-color: #67686A;
    z-index: 100;
}
ul.menu > li:hover > ul.submenu {
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
    height: 100%;
}
ul.submenu > li {
    width: 250px;
}
ul.submenu > li > a {
    text-decoration: underline;
}
ul.submenu > li:hover > a {
    text-decoration: none;
}
/* КАТАЛОГ В ТЕЛЕФОНАХ */
.sm_catalog {
    margin: 0 0 1em;
}
.sm_catalog__menu {
    margin: 0 auto;
    width: 100%;
    max-width: 405px;
}
.bg-black {
    background-color: rgba(0, 0, 0, 0.1);
}
.sm_catalog__btn {
    width: 300px;
    margin: 0 auto;
    background-color: #67686A;
}
.sm_catalog__link {
    padding: 10px 0;
    text-align: center;
    cursor: pointer;
    width: 100%;
    display: block;
}
.sm_catalog__list {
    display: none;
    background-color: #D2232A;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 150;
    width: 100%;
}
.catalog_close_btn {
    height: 25px;
    width: 25px;
    text-align: center;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer; 
}
.catalog_link::before {
    content: "\f00d";
    font-family: "FontAwesome";
    font-size: 25px;
}
.marl {
    margin-left: -15px;
}
.sm_subcat {
    display: none;
    position: relative;
}
.collapse_subcat {
    cursor: pointer;
    border: 1px solid #67686A;
    padding: 2px 5px;
}
.collapsible_subcat {
    display: none;
    position: absolute;
    top: 53px;
    width: 510px;
    background-color: #FFF;
    border: 1px solid #67686A;
}
.collapsible_subcat li:hover {
    background-color: bisque;
}
.padl {
    padding-left: 5px;
}
/* СОРТИРОВКА */
.sorting {
    padding: 0 0 1em 0;
}
.sorting > span {
    color: #D2232A;
    cursor: pointer;
}
.sorting > span:hover {
    text-decoration: underline;
}
/* ГЛАВНЫЙ БЛОК */
.catalog {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
}
.catalog__element {
    width: 220px;
    height: 329px;
    border: solid 1px #67686A;
    margin: 0 0 10px 10px;
    text-align: center;
}
.preview_img > img {
    max-width: 100%;
    max-height: 167px;
}
.catalog__element_link {
    display: block;
    color: #252525;
    height: 210px;
}
.catalog__element_link:hover {
    text-decoration: none;
}
.preview_description {
    height: 36px;
}
.cart {
    height: 30px;
}
/* ОТДЕЛЬНЫЙ ТОВАР */
.product_img {
    width: 400px;
}
.product_img img {
    max-height: 280px;
    max-width: 100%;
}
.product_description {
    padding: 0 1em;
}
.product_description h3 {
    margin-top: 0;
}
/* КОРЗИНА */
.cart_bg {
    background-color: #F9F9F9;
    padding: 30px 0;
    margin: 0 0 40px;
}
.block_cart {
    background-color: #FFF;
    height: min-content;
    box-shadow: 0 1px 1px 1px #DADADA;
}
.block_product ul {
    margin-top: 0;
    padding-inline-start: 0px;
    padding: 17px;
}
.list_product {
    display: flex;
    justify-content: space-between;
    border: 2px solid #F9F9F9;
    border-style: none none solid none;
}
.cart_image {
    flex: 4;
    padding: 0px 5px 5px 0;
}
.cart_image img {
    max-width: 100%;
}
.cart_name {
    flex: 7;
}
.cart_counter {
    flex: 6;
}
.cart_price {
    flex: 6;
}
.total {
    display: flex;
    justify-content: space-between;
    padding: 0 0px 17px;
}
.cart_order {
    display: flex;
    justify-content: flex-end;
}
.block_order {
    width: 608px;
    padding: 17px;
    
}
.block_order h3 {
    margin-top: 0;
}
.cart_addressee {
    display: flex;
}
.cart_number {
    width: 50%;
}
.cart_name {
    width: 50%;
}
.stop {
    background-color: #DADADA;
    cursor: no-drop;
}
.count {

}

@media (min-width: 1500px) {
    .container {
        max-width: 1332px;
    }
}
@media (min-width: 992px) and (max-width: 1499px) {
    .catalog__element {
        width: 198px;
    }
}
@media (max-width: 991px) {
    .search {
        width: 100%;
    }
    .cart_order {
        padding: 0;
    }
    .block_order {
        width: 100%;
    }
}
@media (min-width: 768px) {
    .sm-menu {
        display: none;
    }
    .sm_catalog {
        display: none;
    }
    .sm_catalog__menu {
        display: none;
    }
}
@media (max-width: 767px) {
    .md-menu {
        display: none;
    }
    .md_catalog {
        display: none;
    }
    .nav-link {
        padding: 10px 0;
    }
    .sm_subcat {
        display: block;
    }
}
@media (max-width: 575px) {
    .collapsible_subcat {
        width: 100%;
    }
}